@using BankAccount.Models
@model AccountWrapper

<h1 style="color: green; text-align: center; padding: 100px">Welcome, @Model.User.FirstName @Model.User.LastName, to Your Bank Account Dashboard</h1>
<h2>Current Balance: </h2>
<form action="" method="POST">
<h4>Deposit/Withdrawal</h4> 
<input type="">
<input type="submit" value="Submit">
</form>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>